[Desktop Entry]
Name=qmlmahjongg
Exec=qmlscene qml/QmlMahjongg.qml
Icon=qml/gamepieces/icon.png
# Precedente: Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
